<!DOCTYPE html>
<html>
<head>
  <% provide(:title, t("home.name")) %>
  <% provide(:base_title, t("base.title")) %>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= render "static_pages/banner" %>
      <hr>
      <h2 class="text-center"><%= t("home.products") %></h2>
      <hr>
      <div id="products">
        <%= render (@products) || t("home.products_nil") %>
      </div>
    </div>
    <div class="row text-center" id="paginator">
      <%= paginate @products, theme: "twitter-bootstrap-3", remote: true %>
    </div>
  </div>
</body>
</html>
