<!DOCTYPE html>
<html>
<head>
  <% provide(:title, t("home.name")) %>
  <% provide(:base_title, t("base.title")) %>
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <%= render "static_pages/banner" %>
      <hr>
      <h2><%= t("home.products") %></h2>
      <hr>
      <%= render @products || t("home.products_nil") %>
    </div>
    <div class="row" id="paginator">
      <%= paginate @products, theme: "twitter-bootstrap-3", remote: true %>
    </div>
  </div>
  <hr>
</body>
</html>
