<% provide(:title, t("search.name")) %>
<% provide(:base_title, t("base.title")) %>
<div class="row">
  <h2 class="text-center"><%= t("search.result") %></h2>
  <hr>
  <% if @products.size != 0 %>
    <h3 class="text-right">
      <%= sort_link(@q, :price, t("search.sort_price")) %>
    </h3>
  <% end %>
  <h3 class="text-center" id="products" style="color:red">
    <%= render(@products) || t("search.not_found", keyword: @keyword) %>
  </h3>
</div>
<div class="row text-center" id="paginator">
  <%= paginate @products, theme: "twitter-bootstrap-3", remote: true %>
</div>
