<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left"><%= t("footer.content") %>
    </p>
    <%= link_to "#", class: "navbar-btn btn-danger btn pull-right" do %>
      <i class="glyphicon glyphicon-star"></i> <%= t("footer.subscribe") %>
    <% end %>
  </div>
</div>
